<%- include('../header') %>

<!--Contenido-->
  <%- include('../categoria/contentWrapper_header') %>
                    <div class="box-header with-border">
                          <h1 class="box-title"> Tabla
                            <a href="/articulo/create" class="btn btn-success">
                              <i class="fa fa-plus-circle"></i> Agregar
                            </a>
                          </h1>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    <!-- /.box-header -->

                    <!-- centro -->
                    <div id="listadoregistros" class="panel-body table-responsive" style="height: 100%;" >
                      <table id="tbllistado" class="table table-striped table-bordered table-condensed table-hover">
                        <thead>
                          <th>Opciones</th>
                          <th>Nombre</th>
                          <th>Categoría</th>
                          <th>Código</th>
                          <th>Stock</th>
                          <th>Imagen</th>
                          <th>Estado</th>
                        </thead>
                        <tbody>
                          <!-- function listar() -->                          
                        </tbody>
                        <tfoot>
                            <th>Opciones</th>
                            <th>Nombre</th>
                            <th>Categoría</th>
                            <th>Código</th>
                            <th>Stock</th>
                            <th>Imagen</th>
                            <th>Estado</th>
                        </tfoot>
                      </table>
                    </div>
                    <!--Fin centro -->
  <%- include('../categoria/contentWrapper_footer') %>
  <!--Fin-Contenido-->
  
  
  <%- include('../footer') %>
  <script>
    $(document).ready(function () {
        $('#tbllistado').DataTable({
            "aProcessing": true,//Activamos el procesamiento del datatables
            "aServerSide": true,//Paginación y filtrado realizados por el servidor
            dom: 'Bfrtip',//Definimos los elementos del control de tabla
            buttons:[
              'copyHtml5',
              'excelHtml5',
              'csvHtml5',
              'pdf'
            ],
            ajax:{
              url:"articulo/data",
              dataSrc:""
            },
            columns:[
              {data: null,
                render: function(data)
                {
                  return(data.condicion)
                        ? '<a href="/articulo/edit/'+data.idarticulo+'" class="btn btn-warning"><i class="fa fa-pencil"></i></a>'+
                          '<a onclick="desactivar('+data.idarticulo+')" class="btn btn-danger" ><i class="fa fa-close"></i></a>'
                        : '<a href="/articulo/edit/'+data.idarticulo+'" class="btn btn-warning"><i class="fa fa-pencil"></i></a> '+
                          '<a onclick="activar('+data.idarticulo+')" class="btn btn-primary"><i class="fa fa-check"></i></a>'
                }
              },
              {data: "nombre"},
              {data: "categoria"},
              {data: "codigo"},
              {data: "stock"},
              {data: null,
                render: function(data)
                {
                  return "<img src='/articulos/"+data.imagen+"' height='50px' width='50px'>"
                }
              },
              {data: null,
                render: function(data)
                {
                  return(data.condicion)
                        ?'<span class="label bg-green">Activado</span>'
                        :'<span class="label bg-red">Desactivado</span>'
                },                  
              },
            ],
            "bDestroy": true,
		        "iDisplayLength": 5,//Paginación
	          "order": [[ 0, "asc" ]]//Ordenar (columna,orden)
          });
      });


      function desactivar(id)
      {
        Swal.fire({
          title: '¿Confirma Desactivar este Articulo? '+id+' ?',
          icon:'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirmar',          
        }).then((result) => {          
          if (result.isConfirmed) {
            window.location = '/articulo/desactivar/'+id;
          } 
        });
      }

      function activar(id)
      {
        Swal.fire({
          title: '¿Confirma activar este Articulo? '+id+' ?',
          icon:'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Confirmar',          
        }).then((result) => {          
          if (result.isConfirmed) {
            window.location = '/articulo/activar/'+id;
          } 
        });
      }

  </script>


  